---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form";
import MobileNav from "../components/MobileNav.astro";
import SkillCard from "../components/SkillCard.astro";
import skills from "../../public/skills.json";
import i18next, { t, changeLanguage } from "i18next";
import ProjectCards from "../components/ProjectCards.astro";
import TwitterIcon from "../components/icons/TwitterIcon";
import GitHubIcon from "../components/icons/GitHubIcon";
import SocialButton from "../components/SocialButton";
import { Picture } from "@astrojs/image/components";
import profileImage from "../../public/images/photo.png";

changeLanguage("en");
---

<Layout title='Juli치n Varo | Web Developer'>
	<header id='begin'>
		<nav class='pt-4 px-6 w-full max-w-screen-xl bg-[#241564] sm:px-16 md:absolute md:bg-transparent md:top-10 lg:px-20 xl:px-32 xl:left-2/4 xl:-translate-x-2/4'>
			<ul class='justify-between list-none flex text-slate-200 md:justify-end'>
				<li class='text-2xl relative md:w-1/4 lg:text-4xl'>
					<h1 class='name'>Juli치n Varo</h1>
			    <div class='text-slate-400 text-xl absolute left-3 lg:text-2xl lg:left-8'>@anvarzey</div>
				</li>
				<li class='hidden w-1/6 items-center justify-end md:flex'>
					<a class='menu-item border-b-2 border-transparent hover:text-white hover:border-[#FBC505] transition duration-100 ease-in' href='#about'>{t('sections.about')}</a>
				</li>
				<li class='hidden md:flex w-1/6 items-center justify-end'>
					<a class='menu-item border-b-2 border-transparent hover:text-white hover:border-[#FBC505] transition duration-100 ease-in' href='#skills'>{t('sections.skills')}</a>
				</li>
				<li class='hidden md:flex w-1/6 items-center justify-end'>
					<a class='menu-item border-b-2 border-transparent hover:text-white hover:border-[#FBC505] transition duration-100 ease-in' href='#projects'>{t('sections.projects')}</a>
				</li>
				<li class='hidden md:flex w-1/6 items-center justify-end'>
					<a class='menu-item border-b-2 border-transparent hover:text-white hover:border-[#FBC505] transition duration-100 ease-in' href='#contact'>{t('sections.contact')}</a>
				</li>
				<li class='text-xs flex items-center justify-end md:text-md md:w-1/6'>
					<div class='flex text-black w-fit'>
						{
							i18next.language === 'en'
							  ? (
									<>
									  <span class='py-1 px-2 bg-slate-200 opacity-60 rounded-l-lg'>游쥟릖 EN</span>
									  <a href='https://julivaro.com/es' class='py-1 px-2 bg-slate-200 border-l border-indigo-500 rounded-r-lg'>游쀯릖 ES</a>
								  </>
									)
								: (
                  <>
									  <a href='https://julivaro.com/' class='py-1 px-2 bg-slate-200 border-r border-indigo-500 rounded-l-lg'>游쥟릖 EN</a>
										<span class='py-1 px-2 bg-slate-200 opacity-60 rounded-r-lg'>游쀯릖 ES</span>
									</>
								)
					}
					</div>
				</li>
			</ul>
		</nav>
	</header>
	<main class='max-w-screen-xl'>
    <section class='first-section min-h-screen px-8 flex flex-col items-center justify-center sm:px-16 md:flex-row-reverse lg:px-20 xl:px-32'>
      <div class='h-60 mx-auto mb-10 sm:h-72 md:h-96 lg:col-start-2'>
				<img class='object-cover h-full rocket' src='/images/rocket.png' alt='Rocket'>
			</div>
			<div class='text-center md:text-start md:self-end mb-10'>
				<div class='text-slate-100 mb-2 flex flex-col gap-4'>
					<div class='text-2xl first'>
						{t('home.greeting')}
					</div>
					<div class='text-3xl md:text-5xl second'>{t('home.presentation')}<span class='name'>Juli치n</span> | 
					</div>
					<div class='text-2xl md:text-5xl second'>Web Developer</div>
					<div class='text-slate-300 text-lg md:text-3xl italic third'>
						{t('home.phrase')}
					</div>
				</div>
				<div class='flex items-center gap-8 justify-center mt-8 sm:gap-16 md:justify-start lg:mt-16 third'>
					<a class='w-10 h-10 sm:w-10 sm:h-10 lg:w-12 lg:h-12' href='https://github.com/anvarzey' target='_blank'>
						<GitHubIcon color='whiteOff' />
					</a>
					<!-- <a class='w-10 h-10 group sm:w-10 sm:h-10 lg:w-12 lg:h-12' href='#'>
					</a> -->
					<a class='w-10 h-10 sm:w-10 sm:h-10 lg:w-12 lg:h-12' href='https://twitter.com/anvarzey' target='_blank'>
						<TwitterIcon color='whiteOff' />
					</a>
				</div>
			</div>
		</section>
		<section class='min-h-screen px-8 flex flex-col items-center gap-10 sm:px-16 lg:px-20 xl:px-32'>
      <h2 id='about' class='section-title text-[#FFC60A] text-center font-bold mt-10'>{t('sections.about')}</h2>
			<article class='flex flex-col items-center lg:flex-row lg:gap-4 lg:justify-between'>
				<div class='h-48 w-48 bg-gradient-to-tr from-cyan-500 to-blue-500 pt-2 rounded-xl flex flex-col items-center justify-center lg:h-full lg:w-80'>
					<Picture src={profileImage} widths={[192, 320]} sizes='(max-width: 320px)' aspectRatio='160:213' alt='Juli치n Varo image' />
				</div>
				<div class='about-text lg:w-2/4 mt-20 lg:mt-0 text-slate-100'>
					<p>
						{t('about.paragraph-1')}
					</p>
					<p class='mt-2'>
						{t('about.paragraph-2')}
					</p>
					<p class='mt-2'>
						{t('about.paragraph-3')}
					</p>
				</div>
			</article>
			</section>
		<section class='min-h-screen px-8 flex flex-col items-center gap-8 sm:px-16 lg:px-20 xl:px-32'>
      <h2 id='skills' class='section-title text-[#FFC60A] text-center font-bold mt-10'>{t('sections.skills')}</h2>
			<ul class='flex flex-wrap gap-4 justify-center sm:mt-20 sm:gap-y-8 lg:gap-10 lg:mt-0'>
				{
					skills.map(skill => {
							return (
								<SkillCard icon={skill.image} skill={skill.name} />
							)
					})
				}
			</ul>
		</section>
		<section class='min-h-screen px-8 flex flex-col items-center gap-4 sm:px-16 lg:px-20 xl:px-32'>
			<h2 id='projects' class='section-title text-[#FFC60A] text-center font-bold mt-10'>{t('sections.projects')}</h2>
			<ProjectCards lang={i18next.language} />
		</section>
		<section class='min-h-screen px-8 flex flex-col items-center gap-4 pb-10 sm:px-16 lg:px-20 lg:pb-16 xl:px-32'>
			<h2 id='contact' class='section-title text-[#FFC60A] text-center font-bold mt-10'>{t('sections.contact')}</h2>
			  <h3 class='mt-10 text-slate-100 text-2xl md:text-3xl'>{t('contact.social.title')} <span class='italic'>@anvarzey</span> on:</h3>
				<ul class='mt-4 flex flex-wrap gap-4 justify-center md:gap-x-8'>
					<li>
					 <SocialButton keyword='GitHub' />
					</li>
					<!-- <li class=''>
						<a class='flex items-center gap-2 bg-[#007FB5] px-4 py-2 sm:text-xl sm:gap-4 sm:py-3 sm:px-6 md:text-2xl md:gap-5 md:py-4 md:px-8 md:hover:-translate-y-1 transition duration-100 ease-in' href='#'>
							<span class='w-8 h-8 md:w-12 md:h-12'>
								<svg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'><defs><style>.cls-1{fill:#000;}.cls-2{fill:#fff;}</style></defs><title/><g data-name='14-linkedin' id='_14-linkedin'><rect class='fill-white' height='64' rx='11.2' ry='11.2' width='64'/><rect class='fill-[#007FB5]' height='32.72' width='9.03' x='8.99' y='23.54'/><path class='fill-[#007FB5]' d='M48.2,23.54C41.54,21,36.72,25.3,34.66,27.7V23.54h-9V56.26h9V39a8.45,8.45,0,0,1,2.23-5.92,4.75,4.75,0,0,1,3.41-1.67A5.42,5.42,0,0,1,44.24,33a6.13,6.13,0,0,1,1.7,4.35V56.26H56.1V36S57.23,26.92,48.2,23.54Z'/><circle class='fill-[#007FB5]' cx='13.5' cy='13.38' r='5.64'/></g></svg>
							</span>
							<span class='text-white'>
								Linkedin
							</span>
						</a>
					</li> -->
					<li class=''>
						<SocialButton keyword='Twitter' />
					</li>
				</ul>
			  <h3 class='mt-16 text-slate-100 text-2xl md:text-3xl'>{t('contact.form.title')}</h3>
        <Form client:load nameTitle={t('contact.form.name')} namePlaceholder={t('contact.form.name-placeholder')} emailTitle={t('contact.form.email')} emailPlaceholder={t('contact.form.email-placeholder')} messageTitle={t('contact.form.message')} messagePlaceholder={t('contact.form.message-placeholder')} button={t('contact.form.button')} />
		</section>
    <MobileNav />
		<footer class='border-t border-sky-800 py-4 sm:py-6'>
			<div class='footer-text text-slate-400 text-center'>Juli치n Varo | 2023</div>
		</footer>
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	.menu-item {
		font-size: 1.1rem;
	}
	.first-section {
  background: radial-gradient(circle at bottom, navy 0, #000033 100%);
  height: 100vh;
  overflow: hidden;
  background: #241564;
  background: -webkit-linear-gradient(top, #241564, #2B5876);
  background: -moz-linear-gradient(top, #241564, #2B5876);
  background: linear-gradient(to bottom, #241564, #2B5876);

}
	.name {
		color: #FFC60A;
		background-image: linear-gradient(to bottom, #FBC505, #f99b05);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		font-weight: bold;
	}
	.rocket {
		filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04)) drop-shadow(0 4px 3px rgba(255, 255, 255, 0.1));
		animation: rocketAppear 2s ease 250ms;
	}
	@keyframes rocketAppear {
		from {
      transform: translateY(100%);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
	.section-title {
    font-size: clamp(1.75rem, 7vw, 3.25rem);
	}
	.about-text {
		font-size: clamp(1rem, 3vw, 1.5rem);
	}
	.footer-text{
		font-size: clamp(1rem, 5vw, 1.5rem);
	}
	@media (hover: hover) {
		.icon:hover {
			fill: white;
		}
	}
	.first {
    animation: textPresentation 4s ease;
	}
	.second {
    animation: textPresentation 4s ease;
	}
	.third {
    animation: textPresentation 4s ease;
	}
	@keyframes textPresentation {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
</style>
