--- 
import { t } from 'i18next'

---
<div class='fixed right-10 bottom-16 flex flex-col-reverse md:hidden z-20'>
  <input type='checkbox' id='btn' class='hidden peer' />
  <label for='btn' class='peer-checked:rounded-t-none self-end h-10 w-10 rounded-full bg-zinc-100 flex items-center justify-center text-xl'>🚀</label>
  <ul class='rounded-t-lg rounded-bl-lg bg-zinc-100 flex flex-col gap-4 text-lg text-zinc-700 py-6 px-10 invisible peer-checked:visible'>
    <li>
      <a class='text-xl' href='#begin'>{t('sections.home')}</a>
    </li>
    <li>
      <a class='text-xl' href='#about'>{t('sections.about')}</a>
    </li>
    <li>
      <a class='text-xl' href='#skills'>{t('sections.skills')}</a>
    </li>
    <li>
      <a class='text-xl' href='#projects'>{t('sections.projects')}</a>
    </li>
    <li>
      <a class='text-xl' href='#contact'>{t('sections.contact')}</a>
    </li>
  </ul>
</div>