--- 
import { t } from 'i18next'

---
<div class='fixed right-10 bottom-16 flex flex-col-reverse md:hidden z-20'>
  <input type='checkbox' id='btn' class='hidden peer' />
  <label for='btn' class='peer-checked:rounded-t-none self-end h-10 w-10 rounded-full bg-zinc-100 flex items-center justify-center text-xl'>🚀</label>
  <ul class='rounded-t-lg rounded-bl-lg bg-zinc-100 hidden flex-col gap-4 text-lg text-zinc-700 py-4 -z-10 peer-checked:flex peer-checked:z-auto'>
    <li>
      <a href='#begin' class='text-xl block w-full py-1 px-10 active:text-c-yellow'>{t('sections.home')}</a>
    </li>
    <li>
      <a href='#about' class='text-xl block w-full py-1 px-10 active:text-c-yellow'>{t('sections.about')}</a>
    </li>
    <li>
      <a href='#skills' class='text-xl block w-full py-1 px-10 active:text-c-yellow'>{t('sections.skills')}</a>
    </li>
    <li>
      <a href='#projects' class='text-xl block w-full py-1 px-10 active:text-c-yellow'>{t('sections.projects')}</a>
    </li>
    <li>
      <a href='#contact' class='text-xl block w-full py-1 px-10 active:text-c-yellow'>{t('sections.contact')}</a>
    </li>
  </ul>
</div>