--- 
import { t } from 'i18next'
// @ts-ignore
import { localizePath } from "astro-i18next"

const navItems = [
  {
    link: '/#begin',
    text: t('sections.home')
  },
  {
    link: '/#about',
    text: t('sections.about')
  },
  {
    link: '/#last-jobs',
    text: t('navbar.jobs')
  },
  {
    link: '/#reviews',
    text: t('navbar.reviews')
  },
  {
    link: '/#contact',
    text: t('sections.contact')
  }
]

---
<div class='fixed right-10 bottom-16 flex flex-col-reverse md:hidden z-20'>
  <input type='checkbox' id='btn' class='hidden peer' />
  <label for='btn' class='peer-checked:rounded-t-none self-end h-10 w-10 rounded-full bg-zinc-100 flex items-center justify-center text-xl'>🚀</label>
  <ul class='rounded-t-lg rounded-bl-lg bg-zinc-100 hidden flex-col gap-4 text-lg text-zinc-700 -z-10 peer-checked:flex peer-checked:z-auto '>
    {
      navItems.map((navItem, i) => (
        <li>
          <a 
            href={localizePath(navItem.link)}
            class={`text-lg block w-full py-3 px-10 active:bg-yellow-100 active:text-c-yellow ${i === 0 ? 'pt-5 rounded-t-lg' : i === navItems.length - 1 && 'pb-5 rounded-bl-lg'}`}>
            {navItem.text}
          </a>
        </li>
      ))
    }
  </ul>
</div>