---
import i18next, { t, changeLanguage } from "i18next";

const navItems = [
  {
    link: '#about',
    text: t('sections.about')
  },
  {
    link: '#stack',
    text: t('sections.stack')
  },
  {
    link: '#projects',
    text: t('sections.projects')
  },
  {
    link: '#contact',
    text: t('sections.contact')
  }
]
---

<header class='w-full flex items-center px-10 lg:px-20 xl:px-28'>
  <div class='md:w-1/4 flex flex-col z-10'>
    <h1 class='name text-2xl sm:text-3xl lg:text-4xl'>Julian Varo</h1>
    <div class='text-zinc-400 text-sm sm:text-base lg:text-lg  pl-6 sm:pl-8 lg:pl-12'>@anvarzey</div>
  </div>
  <nav
    class='grow bg-[#241564] bg-transparent'
  >
    <ul
      class='flex text-zinc-200 justify-end'
    >
      {navItems.map(navItem => (
        <li
          class='hidden md:flex items-center w-1/4 justify-center z-10'
        >
          <a
            href={navItem.link}
            class='text-md menu-item border-b-2 border-transparent hover:text-white hover:border-[#FBC505] py-2 transition duration-100 ease-in'
          >
            {navItem.text}
          </a>
        </li>
      ))}
      <li class='text-xs flex items-center justify-end md:text-md md:w-1/6 z-10 ml-2'>
        <div class='flex text-black w-fit'>
          {
            i18next.language === 'en'
              ? (
                <>
                  <span class='py-1 px-2 bg-zinc-200 opacity-60 rounded-l-lg'>🇺🇸 EN</span>
                  <a href='https://julivaro.com/es' class='py-1 px-2 bg-zinc-200 border-l border-zinc-500 rounded-r-lg'>🇪🇸 ES</a>
                </>
                )
              : (
                <>
                  <a href='https://julivaro.com/' class='py-1 px-2 bg-zinc-200 border-r border-zinc-500 rounded-l-lg'>🇺🇸 EN</a>
                  <span class='py-1 px-2 bg-zinc-200 opacity-60 rounded-r-lg'>🇪🇸 ES</span>
                </>
              )
        }
        </div>
      </li>
    </ul>
  </nav>
</header>

<style>
  	.menu-item {
		font-size: 1.1rem;
	}
  	.name {
		color: #FFC60A;
		background-image: linear-gradient(to bottom, #FBC505, #f99b05);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		font-weight: bold;
	}
</style>