---
import { t } from "i18next";
import stack from '../../public/stack.json'

const stackNames = ['languages', 'frontend', 'backend', 'databases']

---

<div class="w-full flex flex-col gap-8">
  {
    stackNames.map(stackName => (
      <div class='flex flex-col gap-4 items-center text-zinc-50'>
        <h3 class='text-2xl font-semibold italic text-[#FFD449]'>{t(`stack.titles.${stackName}`)}</h3>
        <ul class='flex items-center gap-4 flex-wrap justify-center'>
          {
            stack[stackName as keyof typeof stack].map((tech) => (
              <li class='px-4 py-2 w-20 h-24 flex flex-col items-center justify-around bg-c-light-blue rounded-xl shadow-lg sm:w-24 sm:h-28 md:py-4 lg:w-32 lg:h-36'>
                <div class={`h-8 lg:h-14 ${tech.bg && 'bg-slate-50 rounded-full p-2'}`}>
                  <img class='h-full' src={tech.image} alt={`${tech.name} logo`}>
                </div>
                <div class='truncate'>
                  {tech.name}
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    ))
  }
</div>
